@model CourseDetailsViewModel

@{
    ViewData["Title"] = "Course Details";
}

<h2>
    @Model.Course.Name
</h2>

<h4 class="text-muted">@Model.Course.StartDate.ToShortDateString() - @Model.Course.EndDate.ToShortDateString() | Trainer @Model.Course.Trainer</h4>

<h5 class="text-muted">@Model.Course.Students student@(Model.Course.Students == 1 ? string.Empty : "s") enrolled in course</h5>

@if (User.Identity.IsAuthenticated)
{
    if (Model.IsUserEnrolledInCourse && Model.Course.EndDate.Date.AddDays(-1) == DateTime.UtcNow.Date)
    {
        <form method="post" enctype="multipart/form-data"
              asp-action=@nameof(CoursesController.SubmitExam)
              asp-route-id=@Model.Course.Id>
            <div asp-validation-summary="All"></div>

            Upload your exam (.zip file only):
            <input type="file" name="exam" accept=".zip" style="display:none" />
            <button type="button" class="btn btn-default" onclick="document.getElementsByName('exam')[0].click()">Choose a file</button>
            <input type="submit" class="btn btn-primary" value="Submit Exam" />
        </form>
        <br />
    }

    if (Model.Course.StartDate >= DateTime.UtcNow.Date)
    {
        if (Model.IsUserEnrolledInCourse)
        {
            <form method="post"
                  asp-controller="Courses"
                  asp-action=@nameof(CoursesController.SignOutStudent)
                  asp-route-id=@Model.Course.Id>
                <input type="submit" class="btn btn-warning" value="Sign Out" />
            </form>
        }
        else
        {
            <form method="post"
                  asp-controller="Courses"
                  asp-action=@nameof(CoursesController.SignUpStudent)
                  asp-route-id=@Model.Course.Id>
                <input type="submit" class="btn btn-primary" value="Sign Up" />
            </form>
        }
    }
    else
    {
        if (Model.Course.EndDate < DateTime.UtcNow)
        {
            <span>This course has already finished.</span>
        }
        else
        {
            <span>This course has already started.</span>
        }
    }
}
else
{
    <span>
        To enroll in this course please
        <a asp-controller="Account" asp-action=@nameof(AccountController.Login)
           asp-route-returnUrl=@Context.Request.Path>login</a> into your account.
    </span>
}

<br />
<h4>@Model.Course.Description</h4>