<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adminitration</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <div class="col-sm-2">
            <a class="btn btn-block btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Prestissimo</a>
            <br />
            <table class="table">
                <tr>
                    <th class="nav-item btn-danger">Administration</th>
                </tr>
                <tr>
                    <th class="nav-item">
                        <a class="navbar-link" asp-area="Admin" asp-controller="Artists" asp-action="Index">Artists</a>
                    </th>
                </tr>
                <tr>
                    <th class="nav-item">
                        <a class="navbar-link" asp-area="Admin" asp-controller="Formats" asp-action="Index">Formats</a>
                    </th>
                </tr>
                <tr>
                    <th class="nav-item">
                        <a class="navbar-link" asp-area="Admin" asp-controller="Labels" asp-action="Index">Labels</a>
                    </th>
                </tr>
                <tr>
                    <th class="nav-item">
                        <a class="navbar-link" asp-area="Admin" asp-controller="Recordings" asp-action="Index">Recordings</a>
                    </th>
                </tr>
                <tr>
                    <th class="nav-item">
                        <a class="navbar-link" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
                    </th>
                </tr>
                <tr><th></th></tr>
            </table>
            <div class="nav-item">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-block btn-default">Log out</button>
                </form>
            </div>
        </div>

        <div class="container col-sm-10">
            @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @Html.Raw(TempData[WebConstants.TempDataSuccessMessageKey])
                </div>
            }
            @if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @Html.Raw(TempData[WebConstants.TempDataErrorMessageKey])
                </div>
            }

            @RenderBody()

            <hr />
            <footer>
                <p class="text-center">&copy; Camera Bazaar &ndash; 2017</p>
            </footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
