
@{
    ViewData["Title"] = "Discounted Sales";
}

<h2>Discounted Sales</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Distance, '000 km</th>
            <th>Customer</th>
            <th>Gross Price</th>
            <th>Net Price</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.Make</td>
                <td>@sale.Model</td>
                <td align="right">@((sale.TravelledDistance / 1000).ToString("N0"))</td>
                <td>@sale.Customer</td>
                <td align="right">@sale.Price.ToString("C2")</td>
                <td align="right">@sale.NetPrice.ToString("C2")</td>
                <td align="right">@sale.Discount.ToString("P0")</td>
            </tr>
        }
    </tbody>
</table>