@model IEnumerable<CartItemViewModel>

@{
    ViewData["Title"] = "Your Items";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Any())
{
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>Recording</th>
                <th>Format</th>
                <th>Price</th>
                <th>Discount, %</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.RecordingTitle
                    </td>
                    <td>@item.FormatName</td>
                    <td class="text-right">@item.Price.ToCurrency()</td>
                    <td class="text-right">@item.Discount.ToPercentage()</td>
                    <td class="text-center">
                        <a asp-controller="ShoppingCart" asp-action=@nameof(ShoppingCartController.Down)
                           asp-route-recordingId=@item.RecordingId
                           asp-route-formatId=@item.FormatId
                           class="btn btn-default">&minus;</a>
                        @item.Quantity
                        <a asp-controller="ShoppingCart" asp-action=@nameof(ShoppingCartController.Up)
                           asp-route-recordingId=@item.RecordingId
                           asp-route-formatId=@item.FormatId
                           class="btn btn-default">+</a>
                    </td>
                    <td>@((item.Price * @item.Quantity * (1 - (decimal)@item.Discount / 100)).ToCurrency())</td>
                    <td>
                        <a asp-controller="ShoppingCart" asp-action=@nameof(ShoppingCartController.Remove)
                           asp-route-recordingId=@item.RecordingId
                           asp-route-formatId=@item.FormatId
                           class="btn btn-danger">&times;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h2>
        Total price: @Model.Sum(i => i.Price * i.Quantity * (1 - (decimal)i.Discount / 100)).ToCurrency()
    </h2>
    <div>
        <form method="post" asp-controller="ShoppingCart" asp-action=@nameof(ShoppingCartController.FinishOrder)>
            <input type="submit" class="btn btn-primary btn-lg " value="Finish Order" />
        </form>
    </div>
}
else
{
    @:No items in shopping cart.
}
